<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if(process.env.NODE_ENV==='production' ){ %>
        <!-- 导入样式 -->
        <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
        <!-- 导入 Vue 3 -->
        <script src="//unpkg.com/vue@next"></script>
        <!-- 导入组件库 -->
        <script src="//unpkg.com/element-plus"></script>
        <% } %>
            <title>Vite App</title>
</head>

<body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
</body>

</html>