html {
    font-size: 50px;
}

@media screen and (max-width: 360px) {
    html {
        font-size: 32px;
        background-color: skyblue;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 36px;
        background-color: hotpink;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 37.5px;
        background-color: gold;
    }
}

@media screen and (min-width: 384px) {
    html {
        font-size: 38.4px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 40px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 41.4px;
    }
}

@media screen and (min-width: 424px) {
    html {
        font-size: 42.4px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 48px;
    }
}

@media screen and (min-width: 540px) {
    html {
        font-size: 54px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 72px;
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: 75px;
    }
}
