// 屏幕划分为10份

$number: 10;
html {
    font-size: 50px;
}

@media screen and (max-width: 360px) {
    html {
        font-size: (320px / $number);
        background-color: skyblue;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: (360px / $number);
        background-color: hotpink;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: (375px / $number);
        background-color: gold;
    }
}

@media screen and (min-width: 384px) {
    html {
        font-size: (384px / $number);
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: (400px / $number);
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: (414px / $number);
    }
}

@media screen and (min-width: 424px) {
    html {
        font-size: (424px / $number);
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: (480px / $number);
    }
}

@media screen and (min-width: 540px) {
    html {
        font-size: (540px / $number);
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: (720px / $number);
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: (750px / $number);
    }
}
